mixin about()
  section.about
    .container
      .about__info
        .about__title Cheelee team has #[span.color-cyan already launched product]
        .about__text The project is based on the already launched in 2021 short video platform – NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)
      .about__img
        +picture('content', 'phone', 'jpg', 1088, 822, 'screens of app')
