mixin boxes()
  section.boxes
    .boxes__info
      h2.boxes__title Watch the videos and #[span.color-cyan get the boxes]
      p.boxes__text While watching the feed you can get boxes with NFT or LEE tokens
    .boxes__img
      +picture('content', 'box', 'png', 405, 306, 'box')
