mixin mission()
  section.mission
    h2.mission__title Cheelee’s #[span.color-cyan mission]

    .mission__info
      p.mission__text Users spend an average of 2.5 hours daily on social networks and get nothing fоr it. We believe that this is unfair
      p.mission__text #[b Our mission] is to provide everyone with the opportunity to monetize time in social networks

    p.mission__subtitle #[span.color-cyan Cheelee] works within the "Attention Economy" framework

    .mission__info.mission__info--sm
      p.mission__text Other social media consider a user as an information and advertising influence target, #[b but a Cheelee user is a full system member, partner and beneficiary]
      p.mission__text The main idea is that attention is converted into income with digital platforms. You pay your attention to what you want, and get paid for it. Your attention has a certain cost.
    .mission__info.mission__info--sm
      p.mission__text #[b The Attention Economy] sees human attention as a scarce commodity making it a new oil! The founder of this concept is the Nobel laureate Herbert Simon
      p.mission__text Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money
