mixin presale()
  .presale
    .presale__bg
      +img('svg', 'bg', 'svg', 1354, 205, 'background')
    .presale__text Don’t miss the #[span.color-cyan Presale]
    .presale__btn
      +btn({text: "Buy NFT glasses"})
